PORT=3000
MONGODB_URI=mongodb://localhost:27017/contact-form-api
JWT_SECRET=replace-this-with-a-long-random-secret

#
# For CORS
#
FRONTEND_URL=http://localhost:5173

#
# Generate with: `openssl rand -hex 32`
#
EMAIL_ENCRYPTION_KEY=2f3cd70ced69c3e8d4742b845bb489bc2ac754cd99eb0984308d0ffd2514b303

