VIRTUAL_HOST=example.com
LETSENCRYPT_EMAIL=someguy@example.com

#
# api
#
PORT=3000
MONGODB_URI=mongodb://mongo-cf:27017/contact_form
JWT_SECRET=replace-this-with-a-long-random-secret

FRONTEND_URL=http://localhost:5173

#
# Generate with: `openssl rand -hex 32`
#
EMAIL_ENCRYPTION_KEY=2f3cd70ced69c3e8d4742b845bb489bc2ac754cd99eb0984308d0ffd2514b303

#
# frontend
#
VITE_API_URL=http://localhost:3000/api 
